@page
@model siteibs.Pages.genetrix_detailsModel
@{
    ViewData["Title"] = "IBS | Nos services";
}
<style>
    .titre2{
        text-align:center;
    }
    .img-produit{
        height:350px;
    }
    .clearfix11{
        margin-top:-75px;
    }
    h1.interface-text {
        font-size: 2.1em !important;
        color: #262160 !important;
    }
    div.interface-text {
        color: #403a3a !important;
        width:67%!important;
        text-align:justify;
    }

    .owl-nav {
        margin-top: 20% !important;
    }
</style>
<!-- Page Title -->
<section class="page-title" style="background-image: url(@Url.Content("~/st/images/background/services-background_1920x917.jpg"))">
    <div class="auto-container">
        <h1>GENETRIX</h1>
        <ul class="page-breadcrumb">
            <li><a asp-page="Index">Accueil</a></li>
            <li><a asp-page="services">Produits & Services</a></li>
            <li>Détails GENETRIX</li>
        </ul>
    </div>
</section>
<!-- End Page Title -->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix clearfix1">

            <!-- Content Side -->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="service-detail">
                    <div class="inner-box">
                        <div class="lower-content">
                            <h3>GENETRIX</h3>
                            <p>
                                Genetrix est une solution intégrée de gestion et de suivi des transferts, des apurements et d'archivage destinée aux banques et à leurs clientèles Entrprises.
                            </p>
                            <p>
                                Depuis l’entrée en vigueur de la nouvelle réglementation de change, la question de la célérité du traitement des opérations des clients via une organisation adaptée au sein des banques commerciales se pose avec beaucoup d’acuité. Ce d’autant plus que les dispositions réglementaires engagent la responsabilité des banques dans le suivi des apurements des dossiers ayant fait l’objet d’allocation de devises par la Banque Centrale. Ce qui suppose de la part de l’ensemble des assujettis :<br />
                                -	Une bonne tenue des dossiers ainsi qu’une maîtrise du circuit interne de traitement ;<br />
                                -	Une transparence totale à l’égard des donneurs d’ordre.

                            </p>
                            <section class="banner-section" style="margin-top:-100px;margin-bottom:20px">
                                <div class="main-slider-carousel owl-carousel owl-theme">
                                  
                                    <div class="slide">
                                        <div class="auto-container">
                                            <div class="row clearfix clearfix1">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-6 col-md-12 col-sm-12" style="z-index:20">
                                                    <div class="inner-column">
                                                        <h1 class="interface-text">Connexion</h1>
                                                        <div class="text interface-text">Page de connexion avec un outil promotionnel (e-pub)</div>
                                                    </div>
                                                </div>

                                                <!-- Image Column -->
                                                <div class="image-column col-lg-6 col-md-12 col-sm-12" style="position:relative;z-index:10">
                                                    <div class="inner-column">
                                                        <div class="image">
                                                            <img class="img-produit" src="@Url.Content("~/st/images/produit/page-connexion.jpg")" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slide">
                                        <div class="auto-container">
                                            <div class="row clearfix clearfix1">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-6 col-md-12 col-sm-12" style="z-index:20;">
                                                    <div class="inner-column">
                                                        <h1 class="interface-text">Accueil client</h1>
                                                        <div class="text interface-text">Cette interface présente les différents modules des workflows de transferts et apurements.</div>
                                                    </div>
                                                </div>

                                                <!-- Image Column -->
                                                <div class="image-column col-lg-6 col-md-12 col-sm-12" style="position:relative;z-index:10">
                                                    <div class="inner-column">
                                                        <div class="image">
                                                            <img class="img-produit" src="@Url.Content("~/st/images/produit/accueil-client.jpg")" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slide">
                                        <div class="auto-container">
                                            <div class="row clearfix clearfix1">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-6 col-md-12 col-sm-12" style="z-index:20">
                                                    <div class="inner-column">
                                                        <h1 class="interface-text">Menu principal Banque</h1>
                                                        <div class="text interface-text">
                                                        Après connexion le gestionnaire est redirigé 
                                                        vers le menu principal à partir duquel il pourra choisir le module de son choix</div>
                                                    </div>
                                                </div>

                                                <!-- Image Column -->
                                                <div class="image-column col-lg-6 col-md-12 col-sm-12" style="position:relative;z-index:10">
                                                    <div class="inner-column">
                                                        <div class="image">
                                                            <img class="img-produit" src="@Url.Content("~/st/images/produit/menu-principal.jpg")" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slide">
                                        <div class="auto-container">
                                            <div class="row clearfix clearfix1">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-6 col-md-12 col-sm-12" style="z-index:20">
                                                    <div class="inner-column">
                                                        <h1 class="interface-text">Accueil de la banque</h1>
                                                        <div class="text interface-text">La page d'accueil de la banque présente les differentes étapes du workflow d'une opération</div>
                                                    </div>
                                                </div>

                                                <!-- Image Column -->
                                                <div class="image-column col-lg-6 col-md-12 col-sm-12" style="position:relative;z-index:10">
                                                    <div class="inner-column">
                                                        <div class="image">
                                                            <img class="img-produit" src="@Url.Content("~/st/images/produit/accueil-banque.jpg")" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="slide">
                                        <div class="auto-container">
                                            <div class="row clearfix clearfix1">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-6 col-md-12 col-sm-12" style="z-index:20">
                                                    <div class="inner-column">
                                                        <h1 class="interface-text">Archives et recherches</h1>
                                                        <div class="text interface-text">
                                                            Sauvegarde numérique de tous les
                                                            dossiers traités pour une durée
                                                            minimale d’un (1) an; permettant donc
                                                            de répondre plus aisément en cas de
                                                            contrôle ou de recherche spécifique
                                                            d’un dossier
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Image Column -->
                                                <div class="image-column col-lg-6 col-md-12 col-sm-12" style="position:relative;z-index:10">
                                                    <div class="inner-column">
                                                        <div class="image">
                                                            <img class="img-produit" src="@Url.Content("~/st/images/produit/archivage2.jpg")" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </section>
                            @*<div class="two-column">
            <div class="row clearfix clearfix1">
                <div class="column col-lg-6 col-md-6 col-sm-12">
                    <div class="image">
                        <img src="~/st/images/produit/Slide/genetrix-dbclient_360x219.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>*@
                            <div class="column col-lg-12 col-md-12 col-sm-12">
                                <h3 class="titre2">Fonctionnalités</h3>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-style-one">
                                            <li>
                                                Emission des transferts par le client
                                            </li>
                                            <li>
                                                Contrôle et validation des transferts par la banque
                                            </li>
                                            <li>
                                                Apurement des dossiers de transferts par le client
                                            </li>
                                            <li>
                                                Archivage automatique et outil de recherche des
                                                données
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-style-one" style="">
                                            <li>
                                                Tchat pour répondre aux besoins en support technique du client
                                            </li>
                                            <li>
                                                E-pub pour promouvoir les produits bancaires et informer le client
                                            </li>
                                            <li>
                                                Messagerie interne pour des échanges entre les parties prenantes
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="column col-lg-12 col-md-12 col-sm-12" style="">
                                <h3 class="titre2">Quelques avantages</h3>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-style-one">
                                            <li>
                                                Relation transparente entre la banque et le client
                                            </li>
                                            <li>
                                                Traçabilité des opérations réalisées
                                            </li>
                                            <li>
                                                Gestion sécurisée des données
                                            </li>
                                            <li>
                                                Alertes et rappels pour l’apurement des dossiers
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-style-one">
                                            <li>
                                                Gain de temps et annulation du risque d’erreur suite à la génération automatisée des courriers
                                            </li>
                                            <li>
                                                Gestion et suivi des opérations
                                                douanières
                                            </li>
                                            <li>
                                                Existence d’un tableau de bord
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            @*<h3>Modules</h3>*@
                            <div class="row clearfix clearfix1" style="display:none">

                                <!-- Feature Block Three -->
                                <div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
                                    <div class="feature-inner">
                                        <div class="upper-box">
                                            <div class="icon flaticon-line-graph"></div>
                                            <h6>Gestion des transferts</h6>
                                        </div>
                                        <div class="feature-text">
                                            Emission des transferts par le client, contrôle et validation des transferts par la banque.
                                        </div>
                                    </div>
                                </div>

                                <!-- Feature Block Three -->
                                <div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
                                    <div class="feature-inner">
                                        <div class="upper-box">
                                            <div class="icon flaticon-mission"></div>
                                            <h6>Gestion des apurement</h6>
                                        </div>
                                        <div class="feature-text">Apurement des dossiers de transferts par le client, contrôle et validation par la banque </div>
                                    </div>
                                </div>

                                <!-- Feature Block Three -->
                                <div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
                                    <div class="feature-inner">
                                        <div class="upper-box">
                                            <div class="icon flaticon-microsoft-word-document-file"></div>
                                            <h6>Archivage</h6>
                                        </div>
                                        <div class="feature-text">
                                            Sauvegarde numérique de tous les
                                            dossiers traités; permettant donc
                                            de répondre plus aisément en cas de
                                            contrôle ou de recherche spécifique
                                            d’un dossier.
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->
